*{
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    /* padding: 0 10px 0 10px; */
  
  }
  
  .logo{
   height: 10vh;
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    z-index: 3;
  }
  
  .brand-title{font-size: 1.5rem;
    margin: .5rem;
  }
  
   ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
  }
  
 li{
    list-style: none;
  }
  
  .navbar-links li a{
    text-decoration: none;
    color: black;
    margin-right: 6rem;
    /* padding: 1rem; */
    display: block;
    font-size: 1.2rem;
  }
  
  .navbar-links li a:hover{
    color: grey;
  }
  
  .toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  
  .header-image { 
    height: 100%;
    width: 100%;
  }
  body{
    position: relative;
  }
  
  @media only screen and (max-width:768px){
    .toggle-button{
      display: flex;
    }
  
    .navbar-links{
      display: none;
      animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      transition: all 3s ease-out;
    }
    .navbar{
      flex-direction: column;
      align-items: flex-start;
      flex-direction: column;
      
    }
  
    .navbar-links ul{
      flex-direction: column;
      width: 100vw ;
    }
  
    .navbar-links li {
      text-align: center;
    }
  
    .navbar-links li{
      padding: .5rem 1rem;
    }
  
    .navbar-links.active{
        display: flex;
    } 
  
    @keyframes slide-in-bck-center {
      0% {
        transform: translateZ(600px);
        opacity: 0;
      }
      100% {
        transform: translateZ(0);
        opacity: 1;
      }
    }
  }
  
  /* NAVBAR SECTION ENDS HERE */
  
  .swiper-container {
    width: 100vw;
    height: 90vh;
    z-index: -1;
  }
  
  .c1{
    background: url('IMAGES/7091.jpg') no-repeat center center/cover;
  }
  .c2{
    background: url('IMAGES/21199.png') no-repeat center center/cover;
    /* background-size: 100% 100%; */
  }
  
  /* CAROUSEL ENDS HERE */
  
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0  180px;
  }
  
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */
  
  /* cards ends here */
  
  /* li{
    list-style: none;
  } */
  
  .whyUs-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    background-color:#F1F1F1;
    padding: 40px 120px;
  }
  
  .ourServices{
    display: flex;
    /* padding: 0 120px; */
    justify-content: space-around;
    align-items: center;
  }
  
  .s1{
    height: 250px;
    width: auto;
  }
  
  
  .title{
    font-size: 2rem;
    text-align: center;
  }

  .donateEye-flex{
    display: flex;
    background-color:#F1F1F1;
    justify-content: space-around;
    align-items: center;
    padding: 40px 120px;
  }

  .red{
    color : red;
  }
  
  .footer-flex{
    display: flex;
    justify-content: space-around;
  }
  
  .box {
    min-height: 125px;
    width: 100px;
    background-color: red;
  }
  
  .orange {
    background-color: orange;
    opacity: 0.8;
    height: 400px !important;
    width: 400px !important;
  }
  
  .white {
    color: white;
  }
  
  .b-about-us{
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
  }
  
  .page {
    height: 100vh;
    width: 100vw;
  }
  .space-between{
    justify-content: space-between;
  }
  
  .space-evenly{
    justify-content: space-evenly;
  }
  
  .cp {
    padding: 0 175px 0 175px;
  }
  
  .moto-info{
    position: absolute;
    top: 18%;
    left: 0;
    height: auto;
    width: auto;
    /* height: 100%;
    width: 100%;
    background: #000; */
    /* display: block; */
    /* transform: translate( 0, -75%); */
  }

  .align-items-flex-end { 
    align-items: flex-end;
  }
  
  
  .prod-cap{
    background: url('./images/header.jpeg') ;
  }
  
  @media only screen and (max-width : 768px){
    .whyUs-flex , .ourServices, .donateEye-flex, .footer-flex {
      flex-direction: column;
    }

    .header-image {
      scale: 1.2;
    }

    
  }