@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: large !important;
  /* padding: 0 10px 0 10px; */
}

.logo {
  height: 10vh;
}

.dangerRed {
  background-color: rgb(255, 59, 3, 0.5);
}

.bg-s1 {
  background-color: #dd8302;
  opacity: 2 !important;
}

.default-border-color {
  border-color: #dd8302;
}

.orange-text {
  color: #ff5d01;
}

.orange-background {
  background-color: #ff5d01;
}
.gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 93, 1, 1) 0%,
    rgba(255, 237, 219, 1) 62%,
    rgba(240, 240, 240, 0) 100%
  );
}

.crs_corner {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 50px;
}

.gradient1 {
  background: linear-gradient(
    90deg,
    rgba(255, 93, 1, 1) 0%,
    rgba(255, 169, 83, 1) 51%,
    rgba(255, 93, 1, 1) 100%
  );
}

.bottom-gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 93, 1, 1) 0%,
    rgba(255, 144, 32, 1) 0%,
    rgba(255, 93, 1, 1) 100%
  );

  border-color: linear-gradient(
    90deg,
    rgba(255, 93, 1, 1) 0%,
    rgba(255, 144, 32, 1) 0%,
    rgba(255, 93, 1, 1) 100%
  );
}

.w-20 {
  width: 19% !important;
}

.vh-50 {
  height: 50vh !important;
}

.lh-52 {
  line-height: 52px !important;
}

.w-12 {
  width: 11% !important;
}

.w-15 {
  width: 15% !important;
}

.pt-6 {
  padding-top: 6px !important;
}

.h-40 {
  height: 40px !important;
}

.customer_support {
  height: 450px;
  width: 100%;
}

.lh {
  line-height: 35px;
}

.bg-s2 {
  background-color: #9d5602;
}

.bg-s3 {
  background-color: #31447b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  z-index: 3;
}

.mar-right {
  margin-right: 10px;
}

ul .unordered {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
}

ul .unordered > li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  margin-right: 6rem;
  /* padding: 1rem; */
  display: block;
  font-size: 1.2rem;
}

.navbar-links li a:hover {
  color: grey;
}

.br-10 {
  border-radius: 25px !important;
}

.bg-orange {
  background-color: orangered;
}

.btr-5 {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.header-image {
  height: 100%;
  width: 100%;
}
.ourServices {
  display: flex;
  /* padding: 0 120px; */
  justify-content: space-around;
  align-items: center;
}

.s1 {
  height: 250px;
  width: auto;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.red {
  color: red;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
}

.box {
  min-height: 125px;
  width: 100px;
  background-color: red;
}

.orange {
  background-color: orange;
  opacity: 0.8;
  height: 400px !important;
  width: 400px !important;
}

.white {
  color: white;
}

.b-about-us {
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
}

.page {
  height: 100vh;
  width: 100vw;
}
.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.cp {
  padding: 0 175px 0 175px;
}

.align-items-flex-end {
  align-items: flex-end;
}

.crs {
  background-image: url("./images/bg-1.jpg");
  object-fit: contain;
  top: -10%;
  z-index: 100;
}

.border-gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 93, 1, 1) 0%,
    rgba(255, 201, 147, 1) 48%,
    rgba(255, 93, 1, 1) 100%
  );
}

.prod-cap,
.square-header-container,
.tmt-header-container,
.round-header-container,
.production-header-container,
.plant-header-container,
.carrier-header-container,
.ms_angle-header-container,
.crs-header-container {
  background: url("./images/power-plants-1.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.crs-header-container {
  background-image: url("./images/crs_header.png");
  object-fit: contain;
}

.carrier-header-container {
  background-image: url("./images/carrer.png");
}

.carrier-bottom-gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 93, 1, 1) 0%,
    rgba(255, 201, 147, 1) 48%,
    rgba(255, 93, 1, 1) 100%
  );
}
.plant-header-container {
  background-image: url("./images/plant.png");
}

.ms_angle-header-container {
  background-image: url("./images/ms_angle.png");
}

.production-header-container {
  background-image: url("./images/production.png");
}

.tmt-header-container {
  background-image: url("./images/tmt_bars.png");
}

.round-header-container {
  background-image: url("./images/round.png");
}

.square-header-container {
  background-image: url("./images/square.png");
}

.header-container {
  height: 100vh;
  width: 100vw;
  background: url("./images/header.jpeg") no-repeat center center/cover;
}

.achievement-status-container {
  /* height: 80vh; */
  width: 100vw;
  background-image: url("./images/vector_image.png");
  object-fit: contain;
}

.hot-rod,
.tmt-bars {
  height: 400px;
  max-width: 100%;
  background-image: url("./images/shutterstock_1138752473.png");
  background-size: cover;
}

.sea-pillar {
  height: 360px;
  max-width: 100%;

  background-size: cover;
}

.application-order {
  line-height: 48px;
  font-size: x-large;
}

.tmt-bars {
  background-image: url("./images/tmt_bar.png");
}

.footer-logo {
  background-size: cover;
}

.text-end .test {
  position: absolute;
  right: 0;
}

.achievement-status {
  position: absolute;
  right: 10%;
  top: 45%;
}

.w-35 {
  width: 35% !important;
}

.h-30 {
  height: 30% !important;
}

.h-64 {
  height: 64% !important;
}

.vh-50 {
  height: 60vh !important;
}

.vh-70 {
  height: 70vh !important;
}

.orange-gradient {
  background: rgb(255, 93, 1);
}

.poligon-image {
  height: 250px;
  background-image: url("./images/shutterstock_1138752473.png");
  background-size: cover;
}

.directors {
  height: 100vh;
  width: 100vw;
}

.poligon {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  /* font-family: 'Roboto', Arial, sans-serif; */
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 644px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #d2652d;
  content: "\f10e";
  font-family: "FontAwesome";
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

.price {
  background-color: black;
  color: white;
  width: 200px;
  height: 40px;
  /* padding-top: px; */
  border-radius: 17px;
}

.bottom-radius {
  border-radius: 20px;
  border: 5px solid;
}

/* avinash */
body{
  margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}
.navigation {
   height: 55px;
   background: linear-gradient(45deg, #4199fe, #74b4fe);
}
.brand {
   position: absolute;
   padding-left: 20px;
   float: left;
   line-height: 55px;
   text-transform: uppercase;
   font-size: 1.4em;
}
.brand a, .brand a:visited {
   color: #ffffff;
   text-decoration: none;
}
.nav-container {
   max-width: 1000px;
   margin: 0 auto;
}
nav {
   float: right;
}
nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
nav ul li {
   float: left;
   position: relative;
}
nav ul li a,nav ul li a:visited {
   display: block;
   padding: 0 20px;
   line-height: 55px;
   color: #fff;
   background: #262626 ;
   text-decoration: none;
}
nav ul li a{
   background: transparent;
   color: #FFF;
}
nav ul li a:hover, nav ul li a:visited:hover {
   background: #2581DC;
   color: #ffffff;
}
.navbar-dropdown li a{
   background: #2581DC;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
   padding-left: 4px;
   content: ' \025BE';
}
nav ul li ul li {
   min-width: 190px;
}
nav ul li ul li a {
   padding: 15px;
   line-height: 20px;
}
.navbar-dropdown {
   position: absolute;
   display: none;
   z-index: 1;
   background: #fff;
   box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}
/* Mobile navigation */
.nav-mobile {
   display: none;
   position: absolute;
   top: 0;
   right: 0;
   background: transparent;
   height: 55px;
   width: 70px;
}
@media only screen and (max-width: 800px) {
   .nav-mobile {
       display: block;
  }
   nav {
       width: 100%;
       padding: 55px 0 15px;
  }
   nav ul {
       display: none;
  }
   nav ul li {
       float: none;
  }
   nav ul li a {
       padding: 15px;
       line-height: 20px;
       background: #262626;
  }
   nav ul li ul li a {
       padding-left: 30px;
  }
   .navbar-dropdown {
       position: static;
}
@media screen and (min-width:800px) {
   .nav-list {
       display: block !important;
  }
}
#navbar-toggle {
   position: absolute;
   left: 18px;
   top: 15px;
   cursor: pointer;
   padding: 10px 35px 16px 0px;
}
#navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
   cursor: pointer;
   border-radius: 1px;
   height: 3px;
   width: 30px;
   background: #ffffff;
   position: absolute;
   display: block;
   content: '';
   transition: all 300ms ease-in-out;
}
#navbar-toggle span:before {
   top: -10px;
}
#navbar-toggle span:after {
   bottom: -10px;
}
#navbar-toggle.active span {
   background-color: transparent;
}
#navbar-toggle.active span:before, #navbar-toggle.active span:after {
   top: 0;
}
#navbar-toggle.active span:before {
   transform: rotate(45deg);
}
#navbar-toggle.active span:after {
   transform: rotate(-45deg);
}

/* avinash */

@media only screen and (max-width: 768px) {
  .whyUs-flex,
  .ourServices,
  .donateEye-flex,
  .footer-flex {
    flex-direction: column;
  }

  .header-image {
    scale: 1.2;
  }
  .hide {
    display: none;
  }

  ul .unordered {
    gap: 1rem;
  }

  .footer-logo {
    height: 20% !important;
    width: 20% !important;
  }

  .start-container {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
  .header-container,
  .prod-cap {
    height: 75vh;
    width: 100vw;
    max-width: 100%;
  }

  .mbw-100 {
    width: 100% !important;
  }

  .hot-rod {
    height: 300px;
  }

  .achievement-status {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0% !important;
    bottom: 0%;
    /* left: 0 !important;
    right: 0 !important; */
    width: 100% !important;
    height: 50vh !important;
  }
}
